{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}
    <h1 class="page-title"> 员工信息表
        <small>超图软件员工列表</small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">列标题可调整</span>
                    </div>
                    <div class="tools"></div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>工号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>身份证号</th>
                            <th>生日</th>
                            <th>籍贯</th>
                            <th>PostAct</th>
                            <th>CasteName</th>
                            <th>已删除</th>
                            <th>离职时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in myemp %}
                            <tr>
                                <td>{{ row.StaffID }}</td>
                                <td>{{ row.StaffCode }}</td>
                                <td>{{ row.StaffName }}</td>
                                <td>{{ row.Sex }}</td>
                                <td>{{ row.IDcardNum }}</td>
                                <td>{{ row.Birthday }}</td>
                                <td>{{ row.NativePlace }}</td>
                                <td>{{ row.PostAct }}</td>
                                <td>{{ row.CasteName }}</td>
                                <td>{{ row.Isdelete }}</td>
                                <td>{{ row.LeaveDate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

        </div>
    </div>
{% endblock %}